# Docker Images
BLUE_IMAGE=yimikaade/wonderful:devops-stage-two
GREEN_IMAGE=yimikaade/wonderful:devops-stage-two

# Active Pool Configuration
# Options: blue | green
ACTIVE_POOL=blue

# Release Identifiers
RELEASE_ID_BLUE=blue-v1.0.0
RELEASE_ID_GREEN=green-v1.0.0

# Optional: Application Port (default: 3000)
PORT=3000
jie-aafi-ozz